Repository MaestriHub/shared-modules, pull requests merged in 2024-12, with the labels that each got.

#69 обновил salary full
  IOS/DTOs/Objects/Salary.swift
Labels: IOS

#70 обновил salary full
  Android/shared/src/main/kotlin/shared/dto/objects/Salary.kt
Labels: Android

#71 обновил salary full
  Node/src/dto/objects/Salary.ts
Labels: WEB

#72 удалил лишнюю вложенность
  IOS/DTOs/Enums/AppointmentType.swift
  IOS/DTOs/Enums/CustomerUser.swift
  IOS/DTOs/Enums/HandleInvite.swift
  IOS/DTOs/Enums/ProfessionalEmployee.swift
  IOS/DTOs/Enums/SalaryPaymentType.swift
  IOS/DTOs/Enums/SystemType.swift
  IOS/DTOs/Enums/TimetableOwner.swift
  IOS/DTOs/Primitives/OperationInfo.swift
  IOS/DTOs/Primitives/Schedule.swift
Labels: IOS

#73 удалил лишнюю вложенность
  Android/shared/build.gradle.kts
  Android/shared/src/main/kotlin/shared/dto/enums/AppointmentType.kt
  Android/shared/src/main/kotlin/shared/dto/enums/CustomerUser.kt
  Android/shared/src/main/kotlin/shared/dto/enums/HandleInvite.kt
  Android/shared/src/main/kotlin/shared/dto/enums/ProfessionalEmployee.kt
  Android/shared/src/main/kotlin/shared/dto/enums/TimetableOwner.kt
  Android/shared/src/main/kotlin/shared/dto/objects/AppointmentCustomer.kt
  Android/shared/src/main/kotlin/shared/dto/objects/AppointmentEmployee.kt
  Android/shared/src/main/kotlin/shared/dto/objects/Complex.kt
  Android/shared/src/main/kotlin/shared/dto/objects/Customer.kt
  Android/shared/src/main/kotlin/shared/dto/objects/DateInterval.kt
  Android/shared/src/main/kotlin/shared/dto/objects/Device.kt
  Android/shared/src/main/kotlin/shared/dto/objects/Employee.kt
  Android/shared/src/main/kotlin/shared/dto/objects/Notice.kt
  Android/shared/src/main/kotlin/shared/dto/objects/Offtime.kt
  Android/shared/src/main/kotlin/shared/dto/objects/Procedure.kt
  Android/shared/src/main/kotlin/shared/dto/objects/Salary.kt
  Android/shared/src/main/kotlin/shared/dto/objects/Service.kt
  Android/shared/src/main/kotlin/shared/dto/objects/Statistic.kt
  Android/shared/src/main/kotlin/shared/dto/objects/Timetable.kt
  Android/shared/src/main/kotlin/shared/dto/objects/User.kt
  Android/shared/src/main/kotlin/shared/dto/objects/finance/Cashbox.kt
  Android/shared/src/main/kotlin/shared/dto/objects/finance/Operation.kt
  Android/shared/src/main/kotlin/shared/dto/primitives/OperationInfo.kt
  Android/shared/src/main/kotlin/shared/dto/primitives/Schedule.kt
  Android/shared/src/main/kotlin/shared/dto/primitives/Token.kt
  Android/shared/src/main/kotlin/shared/serializers/BigDecimalSerializer.kt
  Android/shared/src/main/kotlin/shared/serializers/DateSerializer.kt
Labels: Android

#74 удалил лишнюю вложенность
  Node/src/dto/enums/AppointmentType.ts
  Node/src/dto/enums/CustomerUser.ts
  Node/src/dto/enums/ProfessionalEmployee.ts
  Node/src/dto/enums/SalaryPaymentType.ts
  Node/src/dto/primitives/Schedule.ts
Labels: WEB

#76 Create safe interval
  IOS/DTOs/Objects/AppointmentCustomer.swift
  IOS/DTOs/Objects/AppointmentEmployee.swift
  IOS/DTOs/Objects/Offtime.swift
  IOS/DTOs/Objects/Timetable.swift
  IOS/DTOs/Primitives/SafeDateInterval.swift
Labels: No merge
